*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    
    background: linear-gradient(135deg, #f12711, #f5af19);
}
h1{
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    
    
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 210px;
    width: 210px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;

}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 5rem;

}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background: linear-gradient(135deg, #232526, #414345);
    color: white;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
    cursor: pointer;
}